body {
  background-color: #0278cb;
  font-family: 'Roboto';
  color: white;
  padding: 0px 0px;
  margin: 0px 0px;
}

.container {
  display: grid;
  grid-template-columns: 10% 80% 10%;
  /* grid-template-rows: 65px 305px 95px 400px 200px 600px auto; */
  grid-template-rows: repeat(10, 200px 400px);
  /* grid-column-gap: 22px; */
  grid-row-gap: 22px;
  /* margin-bottom: 22px; */
}

h1 {
  font-weight: 400;
  font-style: italic;
}

h2 {
  font-weight: 300;
  font-style: italic;
}

h3 {
  font-weight: 300;
  font-style: italic;
}

p {
  font-weight: 300;
  margin: 0;
}

a {
  color: white;
  text-decoration: underline;
}

a:hover {
  text-decoration-color: #ff3b3b;
}

div {
  background-color: none;
  border-radius: 10px;
}

div.whitebox {
  width: 20%;
  height: 20%;
  margin-top: 20px;
  padding-top: 2px;
  padding-left: 20px;
  color: black;
}

div.bluebox {
  width: 20%;
  height: 20%;
  margin-top: 20px;
  padding-top: 2px;
  padding-left: 20px;
  background-color: none;
  border-radius: 10px;
  border: 1px dashed white;
}

button {
  margin: 20px, 40px;
  background-color: #ff3b3b;
  font-size: 20px;
  font-weight: 200;
  color: white;
  border: none;
  width: 135px;
  height: 45px;
  border-radius: 22.5px;
  margin-right: 20px;
}

button:hover {
  background-color: rgb(215, 19, 19);
}

div.navbar {
  float: left;
  width: 100%;
  height: 55px;
  padding-top: 10px;
  background-color: rgba(238, 238, 238, 1);
  position: fixed;
  float: none;
  border-radius: 0px;
  z-index: 5;
}

div.navbar>* {
  float: right;
}

a.navlink {
  color: black;
  font-size: 21px;
  padding-right: 40px;
  padding-top: 10px;
  font-size: 21px;
  font-weight: 200;
  text-decoration: none;
}

#jsoncontent {
  width: 100%;
  height: 1000px;
}
