body {
  background-color: #0278cb;
  font-family: 'Roboto';
  color: white;
  padding: 0px 0px;
  margin: 0px 0px;
}

.firstsection {
  display: grid;
  grid-template-columns: 6% 49% 2% 37% 6%;
  /* grid-template-rows: 65px 305px 95px 400px 200px 600px auto; */
  grid-template-rows: 65px 305px 95px 400px;
  /* grid-column-gap: 22px; */
  grid-row-gap: 22px;
  margin-bottom: 22px;
}

.secondsection {
  display: grid;

  /* grid-template-columns: repeat(5, 20%); */
  /* grid-template-rows: 140px; */
}

.thirdsection {
  display: grid;
  /* grid-template-columns: 20% 30% 30% 20%;
  grid-template-rows: 65px 305px 95px 400px;
  grid-row-gap: 22px;
  margin-bottom: 22px; */
  grid-template-columns: 100%;
  grid-template-rows: 400px 100px;
}

h1 {
  font-weight: 400;
  font-style: italic;
}
#contact {
  grid-column-start: 9;
  grid-column-end: 10;
}
h2 {
  font-weight: 300;
  font-style: italic;
}

h3 {
  font-weight: 300;
  font-style: italic;
}

p {
  font-weight: 300;
  margin: 0;
}

a {
  color: white;
  text-decoration: underline;
}

a:hover {
  /* text-decoration-color: #ff3b3b; */
}

div {
  background-color: none;
  border-radius: 10px;
}

div.whitebox {
  width: 20%;
  height: 20%;
  margin-top: 20px;
  padding-top: 2px;
  padding-left: 20px;
  color: black;
}

div.bluebox {
  width: 20%;
  height: 20%;
  margin-top: 20px;
  padding-top: 2px;
  padding-left: 20px;
  background-color: none;
  border-radius: 10px;
  border: 1px dashed white;
}

button {
  margin: 20px, 40px;
  background-color: #ff3b3b;
  font-size: 20px;
  font-weight: 200;
  color: white;
  border: none;
  width: 135px;
  height: 45px;
  border-radius: 22.5px;
  margin-right: 20px;
}

button:hover {
  background-color: rgb(215, 19, 19);
}

div.navbar {
  /* float: left; */
  width: 100%;
  height: 65px;
  /* padding-top: 10px; */
  background-color: rgba(238, 238, 238, 1);
  position: fixed;
  /* float: none; */
  border-radius: 0px;
  z-index: 5;
  display: grid;

  grid-template-columns: repeat(10, 10%);
  grid-template-rows: 65px;
  /* grid-column-start: 1; */
  /* grid-column-end: 5; */
}

#meetings {
  grid-column-start: 8;
  grid-column-end: 9;
  grid-row-start: 1;
  grid-row-end: 2;
}

#contact {
  grid-column-start: 9;
  grid-column-end: 10;
  grid-row-start: 1;
  grid-row-end: 2;
}

#subscribe {
  grid-column-start: 10;
  grid-column-end: 11;
}

#meetings, #contact, #subscribe {
  justify-self: center;
  align-self: center;
}

div.navbar>* {
  /* float: right; */
}

a.navlink {
  color: black;
  font-size: 21px;
  padding-right: 40px;
  padding-top: 10px;
  font-size: 21px;
  font-weight: 200;
  text-decoration: none;
}

div.bootstrap-iso {
  height: 400px;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
}

.carouselSlide {
  max-height: 422px;
  min-height: 422px;
  /* min-height: 422px */
  min-width: 100%;
  width: 100%;
}

div.aboutpane {
  width: 98%;
  height: 305px;
  padding-left: 2%;
  background-color: none;
  border-radius: 10px;
  margin-bottom: 4%;
  border: 1px dashed white;

  grid-column-start: 4;
  grid-column-end: 5;
  grid-row-start: 2;
  grid-row-end: 3;
}

div.socialpane {
  width: 100%;
  background-color: none;
  border: 1px solid white;
  display: grid;
  grid-template-columns: repeat(5, 20%);
  grid-column-start: 4;
  grid-column-end: 5;
  grid-row-start: 3;
  grid-row-end: 4;
}

#socialicon {
  justify-self: center;
  align-self: center;
}

div.socialpane>* {
  padding: 2% 3%;
}

div.newspane {
  float: left;
  height: 400px;
  background-color: white;
  margin-bottom: 4%;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 20px repeat(4, 95px);
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 4;
  grid-row-end: 5;
}

#newsheader {
  margin: 10px;
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
}

.blog-content {
  margin-top: 25px;
  margin-left: 10px;
}

#articlesnippet, .article {
  color: black;
}

.author, .date {
  display: inline;
  font-size: 14px;
}

div.meetingpane {
  float: right;
  width: 100%;
  height: 400px;
  background-color: white;
  margin-bottom: 4%;
  grid-column-start: 4;
  grid-column-end: 5;
  grid-row-start: 4;
  grid-row-end: 5;
}

#meetingheader {
  color: black;
  padding-left: 10px;
}

div.eboardpane {
  padding: 0px 0px;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: white;
  border-radius: 0px;
  display: grid;

  grid-template-columns: repeat(5, 20%);
  grid-template-rows: 140px;
  grid-column-start: 1;
  grid-column-end: 6;
}

.membercard {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 115px;
  justify-self: center;
  align-self: center;
  text-align: center;
  /* padding-top: 20px;
  padding-bottom: 20px; */
}

#avatar {
  border-radius: 50%;
  /* margin-top: 30px; */
  /* width: 60%; */
  max-width: 115px;
  /* justify-self: center; */
  /* align-self: center; */
}

.title {
  color: black;
  /* text-align: center; */
  /* justify-self: center; */
  /* align-self: center; */
}

div.calendarpane {
  float: right;
  width: 100%;
  height: 600px;
  padding: 0px 0px;
  background-color: rgba(228, 228, 228, 1);
  border-radius: 0px;
  grid-column-start: 1;
  grid-column-end: 6;
  grid-row-start: 6;
  grid-row-end: 7;
}

#form {
  display: grid;
  grid-template-columns: 20% 30% 30% 20%;
  grid-template-rows: 30px 40px 200px 45px;
  grid-column-gap: 22px;
  grid-row-gap: 22px;
}

#formname, #formemail, #formmessage {
  border-radius: 10px;
  border: none;
  /* padding-top: 5px; */
  padding-left: 10px;
}

#formname {
  /* max-width: 310px; */
  /* min-width: 30%; */
  /* justify-self: center; */

  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
}

#formemail {
  /* max-width: 310px; */
  /* min-width: 30%; */
  /* justify-self: center; */

  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 3;
}

#formmessage {
  padding-top: 10px;
  margin-left: 30px;
  margin-right: 30px;

  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 3;
  grid-row-end: 4;
}

#formsubmit {
  min-width: 135px;
  justify-self: center;
  margin: 20px, 40px;
  font-size: 20px;
  font-weight: 200;
  color: white;
  border: none;
  border-radius: 22.5px;
  background-color: #ff3b3b;

  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 4;
  grid-row-end: 5;
}

#formsubmit:hover {
  background-color: #d71313;
}

.footer {
background-color: white;

  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 3;
}

#hidden {
  margin-top: 56px;
  margin-left: 10%;
  float: right;
  width: 10%;
  display: hidden;
}

#secretbutton {
  width: 1px;
  background-color: rgba(0, 0, 0, 0);
  border: none;
  color: none;
  font-size: 0px;
}

@media screen and (max-width: 768px) {
  .firstsection {
    grid-template-columns: 50% 50%;
    grid-row-gap: 0;
    grid-template-rows: 9vh 55vh 24vh 12vh 450px 350px;
  }

  div.navbar {
    height: 9vh;
    min-height: 58px;
    padding-top: 0;

    grid-template-columns: 33% auto 33%;
    grid-template-rows: 9vh;
  }

  #meetings {
    grid-column-start: 1;
    grid-column-end: 2;
  }

  #contact {
    grid-column-start: 2;
    grid-column-end: 3;
  }

  #subscribe {
    grid-column-start: 3;
    grid-column-end: 4;
  }

  div.bootstrap-iso {
    height: 55vh;

    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
  }

  .carouselSlide {
    max-height: 55vh;
    min-height: 55vh;
  }

  div.aboutpane {
    height: 24vh;

    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
  }

  div.socialpane {
    height: 12vh;

    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 4;
    grid-row-end: 5;
  }

  div.newspane {
    height: 450px;

    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 5;
    grid-row-end: 6;
  }

  div.meetingpane {
    height: 372px;

    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 6;
    grid-row-end: 7;
  }

  div.eboardpane {
    grid-template-columns: 50% 50%;
  }

  #lastmembercard {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
  }

  #form {
    /* display: grid; */
    grid-template-columns: 10% 40% 40% 20%;
    grid-template-rows: 30px 40px 200px 45px;
    grid-column-gap: 11px;
    grid-row-gap: 22px;
  }

}
